@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --header-font: 'Poppins', sans-serif;
}


.pokemon-cards {
    margin: 0 100px 0;
}

    h3, h4, .modal__id {
        font-family: var(--header-font);
        font-size: larger;
        font-weight: 700;
    }

    h1, .modal__name {
        font-family: var(--header-font);
        font-size: xx-large;
        font-weight: 700;
    }
    
    