@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --header-font: 'Poppins', sans-serif;
}


/* .pokemon-cards {
    margin: 0 100px 0;
}

    h3, h4 {
        font-family: var(--header-font);
        font-size: larger;
        font-weight: 700;
    }

    h1 {
        font-family: var(--header-font);
        font-size: xx-large;
        font-weight: 700;
    }
     */

     @media only screen and (max-width: 768px) {
        .navbar__logo-name {
            display: none;
        }
     }